/* GroupCreation.module.css */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../public/image/background.jpg'); /* Reference your image here */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}

.container {
    width: 100%;
    max-width: 600px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9a0;
}

.center .container form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.center .container form input{
    border: 2px solid black;
    border-radius: 10px;
}

.center .container form button{
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.4s ease-in-out all;
}

.center .container form button:hover{
    background-color: rgba(128, 128, 128, 0.274);
    color: black;
}

.center .container .groupList h3{
    font-weight: 600;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.formContainer {
    flex: 0 0 auto;
}

.groupList {
    flex: 1 1 auto;
    /* Allows the group list to grow */
    overflow-y: auto;
    /* Adds scroll if content exceeds the container height */
    padding: 16px;
}

.inputField {
    width: calc(100% - 40px);
    /* Adjust width to fit the button */
    padding: 8px;
    margin-right: 8px;
}

.addButton {
    padding: 8px 16px;
    font-size: 16px;
}

.groupItem {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.groupItem:hover {
    background-color: #eee;
}

.error {
    color: red;
    margin-bottom: 8px;
}